tmp
spec/reports
.bundle
*.gem
InstalledFiles
*.rbc
.config
rdoc
_yardoc
test/version_tmp
lib/bundler/man
prawml.sublime-project
doc/
coverage
.yardoc
prawml.sublime-workspace
Gemfile.lock
test/tmp
pkg